Flask==2.2.5
Flask-SocketIO==5.3.6
eventlet==0.40.0
requests==2.32.3
numpy==2.2.6
numba==0.61.2
llvmlite==0.44.0
pydub==0.25.1
tqdm==4.67.1
regex==2024.11.6
tiktoken==0.9.0
srt==3.5.3
websockets==15.0.1